In [1]:
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal

config = {
  'host':"pinpointserver.mysql.database.azure.com",
  'port':"3306",
  'user':"arissdb",
  'password':"ppedbpass@12",
  'db':'ccndb',
}

# Construct connection string

try:
    conn = mysql.connector.connect(**config)
    print("Connection established")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with the user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cursor = conn.cursor()

Connection established

In [ ]:
conn   = mysql.connector.connect(**config)
cursor = conn.cursor()

cursor.execute(""" drop table ccndb.USERS """)
conn.commit()
cursor.execute("""
 create table ccndb.USERS 
 (
 USERNAME varchar(255) NOT NULL PRIMARY KEY, 
 FIRST_NAME varchar(255) NOT NULL,
 LAST_NAME varchar(255),
 USER_DEPARTMENT varchar(255) NOT NULL,
 USER_LEVEL varchar(255) NOT NULL,
 PASSWORD varchar(255) NOT NULL,
 EMAILID varchar(255),
 STATUS varchar(255) NOT NULL,
 LOCKED int default 0)
""")
conn.commit()

In [ ]:
##user Department
department_list = ['Production','QC','QA','Store','Engineering','HR','Admin']

level_list      = ["L1","L2","L3","L4","L5","L6","hod"]

for department in department_list:
    for level in level_list:
        
        INSERT_USER_QUERY = """INSERT INTO ccndb.USERS (
            USERNAME ,FIRST_NAME,LAST_NAME,
            USER_DEPARTMENT ,USER_LEVEL, PASSWORD, 
            EMAILID,STATUS,LOCKED)
            VALUES ( '{}','{}','{}','{}','{}','{}','{}','{}','{}')""".format(
            department.lower()+"_"+level.lower(),"abc","def",department,level,"password","abc@gmail.com","ACTIVE",0)
        conn = mysql.connector.connect(**config)
        cursor = conn.cursor()
        cursor.execute(INSERT_USER_QUERY)
        conn.commit()

In [20]:
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
cursor.execute("select * from ccndb.USERS")

for row in cursor:
    print(row)

('admin_hod', 'abc', 'def', 'Admin', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l1', 'abc', 'def', 'Admin', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l2', 'abc', 'def', 'Admin', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l3', 'abc', 'def', 'Admin', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l4', 'abc', 'def', 'Admin', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l5', 'abc', 'def', 'Admin', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('admin_l6', 'abc', 'def', 'Admin', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_hod', 'abc', 'def', 'Engineering', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l1', 'abc', 'def', 'Engineering', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l2', 'abc', 'def', 'Engineering', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l3', 'abc', 'def', 'Engineering', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l4', 'abc', 'def', 'Engineering', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l5', 'abc', 'def', 'Engineering', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('engineering_l6', 'abc', 'def', 'Engineering', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_hod', 'abc', 'def', 'HR', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l1', 'abc', 'def', 'HR', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l2', 'abc', 'def', 'HR', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l3', 'abc', 'def', 'HR', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l4', 'abc', 'def', 'HR', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l5', 'abc', 'def', 'HR', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('hr_l6', 'abc', 'def', 'HR', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_hod', 'abc', 'def', 'Production', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l1', 'abc', 'def', 'Production', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l2', 'abc', 'def', 'Production', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l3', 'abc', 'def', 'Production', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l4', 'abc', 'def', 'Production', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l5', 'abc', 'def', 'Production', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('production_l6', 'abc', 'def', 'Production', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_hod', 'abc', 'def', 'QA', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l1', 'abc', 'def', 'QA', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l2', 'abc', 'def', 'QA', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l3', 'abc', 'def', 'QA', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l4', 'abc', 'def', 'QA', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l5', 'abc', 'def', 'QA', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qa_l6', 'abc', 'def', 'QA', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_hod', 'abc', 'def', 'QC', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l1', 'abc', 'def', 'QC', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l2', 'abc', 'def', 'QC', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l3', 'abc', 'def', 'QC', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l4', 'abc', 'def', 'QC', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l5', 'abc', 'def', 'QC', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('qc_l6', 'abc', 'def', 'QC', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_hod', 'abc', 'def', 'Store', 'hod', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l1', 'abc', 'def', 'Store', 'L1', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l2', 'abc', 'def', 'Store', 'L2', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l3', 'abc', 'def', 'Store', 'L3', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l4', 'abc', 'def', 'Store', 'L4', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l5', 'abc', 'def', 'Store', 'L5', 'password', 'abc@gmail.com', 'ACTIVE', 0)
('store_l6', 'abc', 'def', 'Store', 'L6', 'password', 'abc@gmail.com', 'ACTIVE', 0)

In [43]:
conn   = mysql.connector.connect(**config)
cursor = conn.cursor()


cursor.execute("""
 CREATE TABLE ccndb.change_control_master (
    Application_id INT NOT NULL AUTO_INCREMENT,
    Area_of_Change VARCHAR(255) NOT NULL,
    Affects_Initiator_Department VARCHAR(255) NOT NULL,
    Change_Description VARCHAR(255) NOT NULL,
    Existing_Status VARCHAR(255) NOT NULL,
    Proposed_Change VARCHAR(255) NOT NULL,
    Change_Reason VARCHAR(255) NOT NULL,
    Application_Status VARCHAR(255) NOT NULL DEFAULT 'Initiated',
    Change_Control_id VARCHAR(255) NOT NULL DEFAULT '',
    PRIMARY KEY (Application_id)
) AUTO_INCREMENT=100
""")
conn.commit()

In [44]:
INSERT_CHANGE_CONTROL_QUERY = """INSERT INTO ccndb.change_control_master (
    Area_of_Change, Affects_Initiator_Department, Change_Description, Existing_Status, 
    Proposed_Change, Change_Reason, Application_Status, Change_Control_id
) VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')""".format(
    'Sample Area', 'Sample Department', 'Sample Description', 
    'Sample Existing Status', 'Sample Proposed Change', 'Sample Change Reason', 'Initiated', ''
)
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
cursor.execute(INSERT_CHANGE_CONTROL_QUERY)
conn.commit()

In [4]:
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
cursor.execute("select * from ccndb.change_control_master")

for row in cursor:
    print(row)

(100, 'Sample Area', 'Sample Department', 'Sample Description', 'Sample Existing Status', 'Sample Proposed Change', 'Sample Change Reason', 'Initiated', '')
(101, 'SOP', 'Admin', 'Test', 'Test', 'Test', 'Test', 'Initiated', '')
(102, 'Process', 'Admin', 'uploaded', 'uploaded', 'uploaded', 'uploaded', 'Initiated', '')
(103, 'Process', 'Admin', 'uploaded', 'uploaded', 'uploaded', 'uploaded', 'Initiated', '')
(104, 'Process', 'Admin', 'uploaded', 'uploaded', 'uploaded', 'uploaded', 'Initiated', '')
(105, 'Equipment', 'Admin', 'sample1', 'sample1', 'sample1', 'sample1', 'Initiated', '')
(106, 'Process', 'Admin', 'uploaded', 'uploaded', 'uploaded', 'uploaded', 'Initiated', '')
(107, 'Process', 'Admin', 'uploaded', 'upload', 'upload', 'upload', 'Initiated', '')
(108, 'Starting Material', 'Admin', 'sample1', 'sample1', 'sample1', 'sample1', 'Initiated', '')
(109, 'Facility And Environment Control', 'Admin', 'sample1', 'sample1', 'sample1', 'sample1', 'Initiated', '')

In [42]:
# conn = mysql.connector.connect(**config)
# cursor = conn.cursor()
# cursor.execute("drop table ccndb.change_control_master")
# conn.commit()

In [46]:
conn   = mysql.connector.connect(**config)
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE ccndb.change_control_audit (
    Audit_id INT NOT NULL AUTO_INCREMENT,
    Application_id INT,
    Status VARCHAR(255) NOT NULL,
    Timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    Username VARCHAR(255),
    Department VARCHAR(255),
    Level VARCHAR(255),
    Remark VARCHAR(255),
    PRIMARY KEY (Audit_id),
    FOREIGN KEY (Application_id) REFERENCES ccndb.change_control_master(Application_id)
)
""")
conn.commit()

In [7]:
conn = mysql.connector.connect(**config)
cursor = conn.cursor()
cursor.execute("select * from ccndb.change_control_audit")

for row in cursor:
    print(row)

(1, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 41), 'abc def', 'Production', 'hod', '')
(2, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 41), 'abc def', 'QC', 'hod', '')
(3, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 42), 'abc def', 'QA', 'hod', '')
(4, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 42), 'abc def', 'Store', 'hod', '')
(5, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 42), 'abc def', 'Engineering', 'hod', '')
(6, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 42), 'abc def', 'HR', 'hod', '')
(7, 101, 'Initiated', datetime.datetime(2023, 12, 6, 0, 26, 42), 'abc def', 'Admin', 'hod', '')
(8, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'Production', 'hod', '')
(9, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'QC', 'hod', '')
(10, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'QA', 'hod', '')
(11, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'Store', 'hod', '')
(12, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'Engineering', 'hod', '')
(13, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'HR', 'hod', '')
(14, 105, 'Initiated', datetime.datetime(2023, 12, 6, 1, 40, 39), 'abc def', 'Admin', 'hod', '')
(15, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'Production', 'hod', '')
(16, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'QC', 'hod', '')
(17, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'QA', 'hod', '')
(18, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'Store', 'hod', '')
(19, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'Engineering', 'hod', '')
(20, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'HR', 'hod', '')
(21, 107, 'Initiated', datetime.datetime(2023, 12, 6, 12, 3, 20), 'abc def', 'Admin', 'hod', '')
(22, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'Production', 'hod', '')
(23, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'QC', 'hod', '')
(24, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'QA', 'hod', '')
(25, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'Store', 'hod', '')
(26, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'Engineering', 'hod', '')
(27, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'HR', 'hod', '')
(28, 108, 'Initiated', datetime.datetime(2023, 12, 6, 15, 28, 41), 'abc def', 'Admin', 'hod', '')
(29, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'Production', 'hod', '')
(30, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'QC', 'hod', '')
(31, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'QA', 'hod', '')
(32, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'Store', 'hod', '')
(33, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'Engineering', 'hod', '')
(34, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'HR', 'hod', '')
(35, 109, 'Initiated', datetime.datetime(2023, 12, 6, 15, 47, 10), 'abc def', 'Admin', 'hod', '')